<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323979256427-sm7j0qril517rvb5qqiakhvft3i3953r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323979256427-sm7j0qril517rvb5qqiakhvft3i3953r</string>
	<key>API_KEY</key>
	<string>AIzaSyAzBPvJT10IKBzIAzfZGV3y8pjOGmdWlBk</string>
	<key>GCM_SENDER_ID</key>
	<string>323979256427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moby.MobyMock</string>
	<key>PROJECT_ID</key>
	<string>mobymock</string>
	<key>STORAGE_BUCKET</key>
	<string>mobymock.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323979256427:ios:b4be3441299dba7317c72e</string>
</dict>
</plist>